.swal2-popup {
  .swal2-title {
    font-size: 1rem;
    font-weight: 700;
  }
  .swal2-content {
    font-size: 0.925rem;
  }
  .swal2-actions {
    display: flex;
    z-index: 1;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 1.25em -0.5rem -0.5rem -0.5rem;
  }
}
