
//Custom
*{
  box-sizing: border-box;
}

.notify-item{
  cursor: pointer;
}

body[data-leftbar-compact-mode=condensed]:not(.authentication-bg) {
  min-height: 800px;
}

body[data-leftbar-theme=dark] {

  .modal-content{
    background: #37404a;
  }

}


