
//Custom
*{
  box-sizing: border-box;
}

.notify-item{
  cursor: pointer;
}

body[data-leftbar-compact-mode=condensed]:not(.authentication-bg) {
  min-height: 800px;
}

body[data-leftbar-theme=dark] {

  .modal-content{
    background: #37404a;
  }

}



.table {
  &__avatar {
    padding: 0px;
    border-radius: 10px;
    background-color: transparent;
    flex-shrink: 0;
    object-fit: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    line-height: 1rem;
    margin-left: .5rem;
    white-space: nowrap;
    P, b {
      color: var(--dark);
    }
  }
}
