.form-check {
  border: none;
  outline: none !important;
  user-select: none;
  background: none;
  cursor: pointer;
  .checkbox {
    width: 20px;
    height: 20px;
    -webkit-box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15),
      0 1px 0 rgba(0, 0, 0, 0.02);
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
    border-radius: 3px;
    &.disabled {
      opacity: 0.7;
    }
    i {
      font-weight: bolder;
    }
  }
  label {
    cursor: pointer;
    font-weight: normal;
  }
}


.form-control[class*=container] {
  padding: 0;
}

.form-control div[class*=control] {
  border: none;
  height: 100%;
  min-height: auto;
  box-shadow: none;
  background: none;
}

.form-control span[class*=indicatorSeparator] {
  display: none;
}

.form-control div[class*=menu] {
  background: var(--bs-white);
}

.form-control div[class*=option] {
  &:hover{
    color: var(--bs-dark);
    cursor: pointer;
  }
  background: var(--bs-white);
  color: var(--bs-gray);
}

.form-control div[class*=placeholder] {
  color: var(--bs-gray);
}

.form-control div[class*=Input] {
  color: var(--bs-gray);
}



//ANT PICKET DATE RANGE
.form-control.ant-picker{

  &:hover{
    border: 1px solid var(--bs-light);
  }

  .ant-picker-input input {
    color: var(--bs-dark);
  }
  .ant-picker-range-separator svg,
  .ant-picker-suffix,
  .ant-picker-input input::placeholder{
    color: var(--bs-gray);
  }
}

.ant-select-dropdown,
.ant-picker-dropdown{
  z-index: 20000;
}

label{
  position: relative;
}

label.required::after, label .required::after {
  content: "*";
  position: absolute;
  right: -11px;
  top: 0;
  color: var(--bs-danger);
}


body[data-leftbar-theme=dark]{

  .form-control div[class*=singleValue] {
    color: #e9ecef !important;
  }

  .form-control div[class*=menu] {
    background: var(--bs-light);
  }

  .form-control div[class*=option] {
    &:hover{
      color: var(--bs-dark);
    }
    background: var(--bs-light);
    color: var(--bs-gray);
  }

}

