//table {
//  thead td {
//    padding: 1rem 0.5rem !important;
//  }
//  tbody td {
//    padding: 1rem 0.5rem !important;
//  }
//  &.table-striped tbody tr:nth-of-type(odd) {
//    background-color: #f4f6f899;
//  }
//
//}




.table-responsive{
  display: block;
  width: 100%;
}

.custom-table-container{

  .table {
    &__avatar {
      padding: 0px;
      border-radius: 10px;
      background-color: transparent;
      flex-shrink: 0;
      object-fit: cover;
    }

    &__content {
      display: flex;
      flex-direction: column;
      line-height: 1rem;
      margin-left: .5rem;
      white-space: nowrap;
      P, b {
        color: var(--dark);
      }
    }

    td,
    th {
      white-space: nowrap;
    }

  }


  .limit-select{
    padding: 0.375rem 2.5rem 0.375rem 0.9rem;
  }

  .pagination .page-item{
    cursor: pointer;
  }
}



